:root {
  --primary: hsl(0, 100%, 67%);
  --primary-yellow: hsl(39, 100%, 56%);
  --primary-green: hsl(166, 100%, 37%);
  --primary-blue: hsl(234, 85%, 45%);
  --secondary-violet: hsla(256, 72%, 46%, 1);
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
  
  }


header {
  background-color: var(--secondary-violet);
  color: white;

}

header p {
  text-align: center;
}

.circle-num {
  background-color: blueviolet;
  width: 152px;
  height: 150px;
  border-radius: 50%;
  margin-left: 7rem;
}

.test{
  padding-top: 15px;
}

.test :first-child{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0%;
}