:root {
  --primary: hsl(0, 100%, 67%);
  --primary-yellow: hsl(39, 100%, 56%);
  --primary-green: hsl(166, 100%, 37%);
  --primary-blue: hsl(234, 85%, 45%);
  --secondary-violet: hsla(256, 72%, 46%, 1);
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
  
  }


header {
  background-color: var(--secondary-violet);
  color: white;
  height: 400px;
}

header p {
  text-align: center;
}

.circle-num {
  background-color: blueviolet;
  width: 152px;
  height: 150px;
  border-radius: 50%;
  margin-left: 7rem;
}

.test{
  padding-top: 15px;
}

.test :first-child{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 0%;
}

.description {
  margin-bottom: 10px;
  text-align: center;
}

.description p {
  padding-top: 15px;
  margin: 20px 15px 0px 15px;

}
 /*
 .summary{
display: grid;
align-content: center;
justify-content: start;
align-items: center;
justify-items: start;
}
*/

.summary-list{
  list-style: none;
  gap: 2px;
  display: grid;
 
}

.red{
  background-color: var(--primary);
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  margin: 0 0 8px 0;
}

.yellow{
  background-color: var(--primary-yellow);
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  margin: 0 0 8px 0;
}

.green{
  background-color: var(--primary-green);
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  margin: 0 0 8px 0;
}

.blue{
  background-color: var(--primary-blue);
  width: 300px;
  padding: 10px;
  border-radius: 10px;
}